<meta name="viewport" content="width=device-width, initial-scale=1">
<div style="text-align: center">
    <h1>Welcome</h1>
    <div style="margin: 15px 0;">
        <input id="default" type="button" value="DD 0/5" style="height: 10%; width: 80%; color: #666; background-color: #eee; text-transform: uppercase; letter-spacing: 2px; font-size: 12px; padding: 10px 30px; border-radius: 5px; border: 1px solid rgba(0,0,0,0.3); border-bottom-width: 3px;" onclick="window.open('/open?delay=0&duration=5');" />
    </div>
    <div style="margin: 15px 0;">
        <input id="default" type="button" value="DD 3/3" style="height: 10%; width: 80%; color: #666; background-color: #eee; text-transform: uppercase; letter-spacing: 2px; font-size: 12px; padding: 10px 30px; border-radius: 5px; border: 1px solid rgba(0,0,0,0.3); border-bottom-width: 3px;" onclick="window.open('/open?delay=3&duration=3');" />
    </div>
    <div style="margin: 15px 0;">
        <input id="default" type="button" value="DD 3/10" style="height: 10%; width: 80%; color: #666; background-color: #eee; text-transform: uppercase; letter-spacing: 2px; font-size: 12px; padding: 10px 30px; border-radius: 5px; border: 1px solid rgba(0,0,0,0.3); border-bottom-width: 3px;" onclick="window.open('/open?delay=3&duration=10');" />
    </div>
</div>
